<!DOCTYPE html>
<html>

<head>
    <title>Hello <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function getUserMedia(constrains, success, error) {
            if (navigator.mediaDevices.getUserMedia) {
                //最新标准API
                promise = navigator.mediaDevices.getUserMedia(constrains).then(success).catch(error);
            } else if (navigator.webkitGetUserMedia) {
                //webkit内核浏览器
                promise = navigator.webkitGetUserMedia(constrains).then(success).catch(error);
            } else if (navigator.mozGetUserMedia) {
                //Firefox浏览器
                promise = navagator.mozGetUserMedia(constrains).then(success).catch(error);
            } else if (navigator.getUserMedia) {
                //旧版API
                promise = navigator.getUserMedia(constrains).then(success).catch(error);
            }
        }

        function canGetUserMediaUse() {
            return !!(navigator.mediaDevices.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
        }


        function showVideo() {
            if (canGetUserMediaUse()) {
                getUserMedia({
                    video: true,
                    audio: true
                }, function (stream) {
                    mediaStream = stream;
                    const video = document.getElementById('video');
                    video.srcObject = stream;
                    video.play();
                }, function (error) {
                    console.log("访问用户媒体设备失败：", error.name, error.message);
                })
            } else { alert('您的浏览器不兼容'); }
        }

        function capture() {
            if (promise) {
                const canvas = document.getElementById('canvas');
                const video = document.getElementById('video');
                canvas.width = video.clientWidth;
                canvas.height = video.clientHeight;
                var context = canvas.getContext('2d');
                context.drawImage(video, 0, 0);
            } else {
                alert('请先打开摄像头');
            }
        }


    </script>
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div>
        <video autoplay controls id="video"></video>
        <button onclick="showVideo()">打开摄像头</button>
        <canvas id="canvas"></canvas>
        <button onclick="capture()">拍照</button>
    </div>
</body>

</html>